.mat-table {
    width: 100%;
}

.paginator {
    width: 100%;
}

.filter {
    height: 70px;
}
td{
    white-space: nowrap;
}
.navbar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.displayitems {
    font-size: 20px;
    font-weight: bold;

}

.tablex {
    background-color: #ECECEC;
    max-width: 100% !important;
    width: 100% !important;
    overflow: scroll;
    position: relative;
    height: px;
}

.container-fluid {
    width: 97%;
    overflow-y: auto;
}


